body{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr 50px;
    min-width: 100vh;
    overflow-x: hidden;
    min-height: max-content;
    background-color: rgba(75, 73, 73, 0.822); 
}
#imgLogo{
    border: none;
    display: inline-block;
    position: absolute;
    height: 150px;
    width: 150px;
    margin: 0;
    top:0;
}
header{
    background-color: black;

    border: none;
    box-sizing: border-box;
    margin: 0;
    top:0;
    display: grid;
    grid-template-columns: 200px 1fr;
    text-decoration: none;
    height: 150px;
}
#carro{
    display: flex;
    justify-content: flex-end;
    width: 860px;
}
.carrossel{
    width: 860px;
    height: 100%;
    margin: 0px 0px 0px 25px;
    top:0;
    border: none;
}
header div{
    display: flex;
    justify-content: end;
    height: 150px;
}
.carrossel img{
    height: 150px;
}

a .img{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    cursor: default; 
}
header a{
    height: 150px;
}
section{
    margin: 0;
    width: 100%;
    display: grid; 
    grid-template-rows: 36px 1fr;
}
nav{
    width: 100vw;
    height: 60px;
    display: flex;
    background-color: brown;
    top: 0px;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    
}

section ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100%;
    list-style: none;
}
@media(max-width:750px){
    a.botoes{
        position: relative;
        align-items: center;
        padding: 1px 1px;
        color: rgb(255, 255, 255);
        margin: 5px 5px;
        text-decoration: none;
        font-size: auto;
        text-transform: uppercase;
        transition: 0.1s;
    } 
    a.botoes:hover{
        border-bottom: solid 1px #fff;
        transition-delay: 0.1s;
    }
    
}
@media(min-width:750px){
a.botoes{
    position: relative;
    align-items: center;
    padding: 10px 10px;
    color: rgb(255, 255, 255);
    margin: 5px 10px;
    text-decoration: none;
    font-size: auto;
    text-transform: uppercase;
    transition: 0.3s;
}
a.botoes::before{
    content: " ";
    position: absolute;
    align-items: center;
    top: -1px;
    left: -1px;
    width: 20px;
    height: 20px;
    border-top: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    transition: 0.3s;
    transition-delay: 0.3s;
}
a.botoes::after{
    content: " ";
    position: absolute;
    align-items: center;
    bottom: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    transition: 0.3s;
    transition-delay: 0.3s;
}
a.botoes:hover::before, a.botoes:hover::after{
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}
a.botoes:hover{
    background-color: rgb(255, 25, 0);
    
    box-shadow: 0 0 50px #dedede;
    transition-delay: 0.1s;
}}
section div{
    display: flex;
    width: 80%;
    justify-content: flex-end;
    
}

nav2{
    margin: 30px 0px 0px 30px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(85, 85, 85, 0);
    font-family: 'Quicksand', sans-serif;
}
#promocoes {
    display: flex;
    justify-content: center;}
@media(min-width:900px){
#promocoes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 50px;
}
#promocoes .off, #promocoes .off2{
    margin: 0 5px 0 0;
    height: 500px; 
}}@media(max-width:900px){
#off2{
    display: none;
}
}
#fotoSobre{
    display: flex;
    margin-right: 5vw;
    justify-content: flex-start;
    height: 400px;
    
}

#fotoSobre img{
     width: 400px;
     height: 100%;
}
#local{
    display: flex;
    box-sizing: border-box;
    float: right;
    margin-right: 10vh;
    border: 2px solid brown;
    padding: 25px;
    border-radius: 55px;
}
.botoes:hover{
    background-color: brown;
}
.off{
    display: flex;
}
div2{
    width: 50%;
}
div5 .off, div5 .off2 {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 70vh;
    border: 1px solid;
    border-radius: 60px;
    background-image: linear-gradient(rgba(0, 0, 0,0.6) 30%, rgba(131, 0, 0,0.6) );
}

div5 img:hover {
    z-index: -1;
    background-color: black;
    border: 1px solid #fff;
    border-radius: 60px;
}
div5 img{
    border-radius: 30px;
}
.off [ofertas], .off2 [ofertas]{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}
div6 div{
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 400pw;
}
div6 div img{
    height: 100%;
    width: 80%;
}
footer{
    width: 100%;
    display: flex;
    background-color: brown;
    color: azure;
    float: right;
    position: fixed;
    justify-content: center;
    bottom: 0px;
    margin-bottom: 0px;
    z-index: 10;
}