body{
    margin: 0;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr 50px;
    min-width: 100vh;
    overflow-x: hidden;
    min-height: max-content; 
}
header #imgLogo{
    width: 100%;
}
header{
    margin: 0;
    display: grid;
    grid-template-columns: 150px 1fr;
    text-decoration: none;
}
.carrossel{
    width: 60vw;
    height: 100%;
    margin: 0;
}
.carrossel img{
    height: 150px;
}

.img{
    display: flex;
    box-sizing: border-box;
    
    cursor: default; 
    padding: 15px;
}
section{
    margin: 0;
    width: 100%;
    display: grid; 
    grid-template-rows: 36px 1fr;
}
nav{
    width: 100vw;
    height: 60px;
    display: flex;
    background-color: brown;
    top: 0px;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    
}

section ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100%;
    list-style: none;
}
@media(max-width:750px){
    a.botoes{
        position: relative;
        align-items: center;
        padding: 1px 1px;
        color: beige;
        margin: 5px 5px;
        text-decoration: none;
        font-size: auto;
        text-transform: uppercase;
        transition: 0.1s;
    } 
    a.botoes:hover{
        border-bottom: solid 1px #fff;
        transition-delay: 0.1s;
    }
    
}
@media(min-width:750px){
a.botoes{
    position: relative;
    align-items: center;
    padding: 10px 10px;
    color: beige;
    margin: 5px 10px;
    text-decoration: none;
    font-size: auto;
    text-transform: uppercase;
    transition: 0.3s;
}
a.botoes::before{
    content: " ";
    position: absolute;
    align-items: center;
    top: -1px;
    left: -1px;
    width: 20px;
    height: 20px;
    border-top: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    transition: 0.3s;
    transition-delay: 0.3s;
}
a.botoes::after{
    content: " ";
    position: absolute;
    align-items: center;
    bottom: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    transition: 0.3s;
    transition-delay: 0.3s;
}
a.botoes:hover::before, a.botoes:hover::after{
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}
a.botoes:hover{
    background-color: rgb(255, 25, 0);
    
    box-shadow: 0 0 50px #dedede;
    transition-delay: 0.1s;
}}
section div{
    display: flex;
    width: 80%;
    justify-content: flex-end;
    
}

nav2{
    padding: 30px 4vw;
    width: 100vw;
    border: solid 1px;
    display: flex;
    flex-direction: column;
    background-color: rgba(253, 0, 0, 0.1);
    font-family: 'Quicksand', sans-serif;
}
#fotoSobre{
    display: flex;
    margin-right: 5vw;
    justify-content: flex-start;
    height: 400px;
    
}

#fotoSobre img{
     width: 460px;
}
#local{
    display: flex;
    box-sizing: border-box;
    float: right;
    margin-right: 10vh;
    border: 2px solid brown;
    padding: 25px;
    border-radius: 55px;
}
.botoes:hover{
    background-color: brown;
}
.off{
    display: flex;
}
div5 .off {
    z-index: -1;
    width: 430px;
    height: 70vh;
    border: 1px solid;
    border-radius: 40px;
    background-color: rgba(87, 66, 66, 0.53);
}
.off [ofertas]{
    margin-top: 10px;
    align-items: center;
    
    width: 100%;
    height: 100%;

}
div6 div{
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 400pw;
}
div6 div img{
    height: 100%;
    width: 80%;
}
footer{
    width: 100%;
    display: flex;
    background-color: brown;
    color: azure;
    float: right;
    position: fixed;
    justify-content: center;
    bottom: 0px;
    margin-bottom: 0px;
    z-index: 10;
}